
            .carousel {
                position: relative;
                width: 100%;
                overflow: hidden;
            }
            #firstText{
              font-size:2.5rem ;
              text-align: center;
              margin-top: 50px;
            }
            .rk-carasoleImages{
                width: 300px !important;
            }
            .carousel-cards {
                display: flex;
                transition: transform 0.6s ease-in-out;
            }
    
            .cards {
                display: flex;
                gap: 20px;
            }
    
            .rk-card {
                width: 300px;
                background-color:white;           
                font-size: 20px;
                font-weight: 500;
            }
    
            .prev-btn,
            .next-btn {
                position: absolute;
                top: 55%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                padding: 10px;
                border: none;
                cursor: pointer;
                z-index: 1;
            }
    
            .prev-btn {
                left: 0;
                
                background-color: white;
                border-radius: 50%;
                
                
            }
    
            .next-btn {
               
                background-color: white;
                border-radius: 50%;
                right: 0;
            }
            .io{
              background-color: white;
                color: black;
                /* border-radius: 50%; */
                font-size: 1.8rem;
    
            }
            .move{
              position: relative;
              top: 160px;
              left: 27px;
            }
            .shopNow{
              position: relative;
              top: 70px;
              font-size: 21px;
              color: black;
            }
            span{
              font-size: 0.8rem;
              margin-left: 11px;
            }
    
            /* first css end here */
    
            /* secont css start here */
    
            .rickyFourContainer {
                display: flex;
                gap: 30px;
                height: auto;
    
                margin-left: 10px;
                margin-right: 10px;
                align-items: center;
                margin-top: 40px;
            }
            .textContainer {
                width: 60%;
                margin-left: 40px;
            }
            .pChild {
                padding: 20px;
            }
            .pChild .desgineinCanada {
                font-size: 2.6rem;
            }
            .pChild .ourPurpose {
                font-size: 1.7rem;
                color: rgb(104, 94, 94);
            }
            .imageContainer {
                margin-top: 30px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                width: 50%;
                margin-left: 50px;
            }
            .fourImage {
                width: 100%; 
                height: 300px;
                object-fit: cover; 
                margin: 0; 
                position: relative;
               
            }
            .whoWeAre{
    
                font-size: 1.5rem;
                color: black;
            }    
